.animation-base-fade-enter {
  opacity: 0;
  animation-duration: .2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
}
.animation-base-fade-leave {
  animation-duration: .2s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
}
.animation-base-fade-enter.animation-base-fade-enter-active {
  animation-name: baseFadeIn;
  animation-play-state: running;
}
.animation-base-fade-leave.animation-base-fade-leave-active {
  animation-name: baseFadeOut;
  animation-play-state: running;
}
@keyframes baseFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes baseFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
